/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/
/Recordings/

/.vs/
/.vscode/
/.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

/sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

/crashlytics-build.properties

# Unity-generated project setting file; safe to ignore.
/ProjectSettings/SceneTemplateSettings.json